@supports (font:-apple-system-body) and (-webkit-appearance:none) {
    .search-input {
        font-size: 1rem;
        line-height: 1.5rem
    }

    @media (min-width:768px) {
        .search-input {
            font-size: .875rem;
            line-height: 1.25rem
        }
    }
}

input::-ms-clear,
input::-ms-reveal {
    display: none
}

input::-webkit-search-cancel-button {
    display: none
}

input::-webkit-search-decoration,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration {
    display: none
}